.card{
            border: 2px solid black;
            color: black;
            border-radius: 2rem;
            text-align: center;
            margin-right: 1.5rem;
            background-color: #444444;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .card:hover {
            color: white;
            transform: scale(0.9);
        }
    
    
        @media screen and (max-width:600px) {
            .card {
                padding: 1.2rem;
            }
}

